Plantilla_TFG_2019/*
*.aux
*.bbl
*.bcf
*.blg
*.log
*.lof
*.lot
*.out
*.run.xml
*.synctex.gz
*.toc
*.pdfa.xmpi
*.aux
*.glo
*.idx
*.log
*.toc
*.ist
*.acn
*.acr
*.alg
*.bbl
*.blg
*.dvi
*.glg
*.gls
*.ilg
*.ind
*.lof
*.lot
*.maf
*.mtc
*.mtc1
*.out
*.synctex.gz
